.gradle
/build/
.idea
*.iws
*.iml
*.ipr
.idea_modules/
logs/
build/
out/
gradle-app.setting
*.class
*.war
*.ear
hs_err_pid*
!gradle/wrapper/gradle-wrapper.jar
*.env*
/bin
.classpath
.project
.settings/
